extends layout

block content
  #titleBar
    h1= title
  
  #information
    p Welcome to #{title}
    p Meal-to-List is a free service to find meals and send the ingredients into a Todoist shopping list.
    p Enter a food item below to get started.
  
  #searchBar
    label Search:
    input(type="text" id="SearchValue")
    input(type="submit" value="Search" id="SearchSubmit")

  #mealList
    #title
      h2= "Meal List"
    div(id="meals")
      div(class="row")
        div(class="mealItem col-md-6")
          div(class="mealLabel")
            a(href="http://www.marthastewart.com/recipe/grilled-deviled-chickens-under-a-brick"  target="_blank")
              h3= "Grilled Deviled Chickens Under a Brick"
          div(class="mealContents")
            div(class="someImage")
              a(href="http://www.marthastewart.com/recipe/grilled-deviled-chickens-under-a-brick"  target="_blank" class="foodImage")
                img(src="https://www.edamam.com/web-img/5f5/5f51c89f832d50da84e3c05bef3f66f9.jpg")
            div(class="someLabel")
              label(class="description") 4 baby chickens (poussins) or cornish hens (about 1 1/4 pounds each), or 4 chicken breast halves", "3 lemons, plus wedges for garnish", "4 cloves garlic, peeled and smashed", "1 tablespoon crushed red-pepper flakes, or to taste", "1 tablespoon finely chopped fresh thyme", "1 tablespoon finely chopped fresh rosemary", "1/2 cup olive oil", "Salt, to taste

        div(class="mealItem col-md-6")
          div(class="mealLabel")
            a(href="http://www.marthastewart.com/recipe/grilled-deviled-chickens-under-a-brick"  target="_blank")
              h3= "Grilled Deviled Chickens Under a Brick"
          div(class="mealContents")
            div(class="someImage")
              a(href="http://www.marthastewart.com/recipe/grilled-deviled-chickens-under-a-brick"  target="_blank" class="foodImage")
                img(src="https://www.edamam.com/web-img/5f5/5f51c89f832d50da84e3c05bef3f66f9.jpg")
            div(class="someLabel")
              label(class="description") 4 baby chickens (poussins) or cornish hens (about 1 1/4 pounds each), or 4 chicken breast halves", "3 lemons, plus wedges for garnish", "4 cloves garlic, peeled and smashed", "1 tablespoon crushed red-pepper flakes, or to taste", "1 tablespoon finely chopped fresh thyme", "1 tablespoon finely chopped fresh rosemary", "1/2 cup olive oil", "Salt, to taste

      div(class="row")
        div(class="mealItem col-md-6")
          div(class="mealLabel")
            a(href="http://www.marthastewart.com/recipe/grilled-deviled-chickens-under-a-brick"  target="_blank")
              h3= "Grilled Deviled Chickens Under a Brick"
          div(class="mealContents")
            div(class="someImage")
              a(href="http://www.marthastewart.com/recipe/grilled-deviled-chickens-under-a-brick"  target="_blank" class="foodImage")
                img(src="https://www.edamam.com/web-img/5f5/5f51c89f832d50da84e3c05bef3f66f9.jpg")
            div(class="someLabel")
              label(class="description") 4 baby chickens (poussins) or cornish hens (about 1 1/4 pounds each), or 4 chicken breast halves", "3 lemons, plus wedges for garnish", "4 cloves garlic, peeled and smashed", "1 tablespoon crushed red-pepper flakes, or to taste", "1 tablespoon finely chopped fresh thyme", "1 tablespoon finely chopped fresh rosemary", "1/2 cup olive oil", "Salt, to taste

